.main__container {
  width: 100svw;
  padding: 0 clamp(25px, 8vw, 75px);
  @include margin-top(20px);
  @include margin-bottom(20px);
}

.main__text_h1 {
  font-size: 24px;
  margin-top: 20px;
}

.title {
  @include margin-bottom(20px);
}

.map {
  @include margin-bottom(20px);
}

.address {
  @include margin-bottom(20px);
}

@mixin margin-top($size) {
  margin-top: $size;
}

@mixin margin-bottom($size) {
  margin-bottom: $size;
}
