@use '../../../app/_css/variables' as var;
@use '../../../app/_css/responsive' as res;
@use '../../../app/_css/mixins' as mix;

.page-header-text {
    position: absolute;
    @include res.container;
    top: 18svw;
    width: 100svw;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: var(--white-bg); 
    
    h1 {
        line-height: 0.8;
        @include mix.fontSetSize(5);
    }

    p {
        @include mix.fontSetSize(1);
    }

    @media (max-width: 580px) { 
        display: block;
        top: 14svw;
}}