@use '../../../app/_css/mixins' as mix;
@use '../../../app/_css/variables' as var;
@use '../../../app/_css/responsive' as res;

.review-container {
    @include res.container;
    width: 100svw;
    margin-top: 150px;
   font-size: 24px;
   position: relative;
  @include mix.fontSetSize(1.5);

  h2 {
  @include mix.fontSetSize(1.5);
  }
}

.review-content {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
    gap: 140px;
    @include mix.fontSetSize(1.2);
    max-width: 80svw;
    
    @media (max-width: var.$breakpoint-mobile-small) {
        max-width: 100svw;
    }


    p {
        max-width: 760px;
    }
    p + p {
        padding-top: 30px;

        @media (max-width: var.$breakpoint-tablet) {
            padding: 15px 0;
          }
    }

    @media (max-width: var.$breakpoint-mobile) {
        display: block;
      }

      @media (max-width: var.$breakpoint-tablet) {
        gap: 60px;
      }
}

.img-content {
    p {
        margin-top: 20px;
        font-size: 20px;
    @include mix.fontSetSize(1.2);

    }
}

.student-photo {
    width: 40svw;
    height: auto;
    @media (max-width: var.$breakpoint-tablet) {
        width: 60svw;
      }
}