@use '../../../app/_css/variables' as var;
@use '../../../app/_css/responsive' as res;
@use '../../../app/_css/mixins' as mix;

.main__container {
    width: 100svw;
    padding: 0 clamp(25px, 8vw, 75px);
    @include mix.fontSetSize(1.5);
    @include res.container;
}

.start__main__container {
    margin-bottom: 100px;
}

.main__text_h1 {
    font-size: 24px;
    margin-top: 20px;
}

.h1_china {
    font-size: 86px;
    color: #C21020;
}

.h1_main {
    font-size: 55px;
}
.start_p {
    font-size: 20px;
    max-width: 700px;
}

@media screen and (max-width: 768px) {
    .main__container {
        padding: 0 25px;
    }
    .h1_china {
        font-size: 55px;
    }
    .h1_main {
        font-size: 25px;
    }
    .start_p {
        font-size: 15px;
    }
    
}

hr {
    border: none;
    width: 100svw;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--accent-red));
  }