.list__subhrefs {
  padding-left: 5px;
  display: none;
}

.open {
  display: block;
}

.nav__menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav__menu-list {
  margin-top: 50px;
  gap: 22px;
}

.list__subhrefs {
  margin-top: 12px;
  gap: 6px;
}
