/* responsive.scss */
@use './variables' as var;

/* Миксин для контейнера */
@mixin container {
  & {
    padding: 0 var.$padding-mobile; // Паддинг для мобильных устройств по умолчанию
  }

  /* Телефоны с маленьким экраном */
  @media (max-width: var.$breakpoint-mobile-small) {
    padding: 0 var.$padding-mobile-small; // Паддинг для планшетов
  }

  /* Планшеты */
  @media (min-width: var.$breakpoint-tablet) {
    padding: 0 var.$padding-tablet; // Паддинг для планшетов
  }

  /* Десктопы */
  @media (min-width: var.$breakpoint-desktop) {
    padding: 0 var.$padding-desktop; // Паддинг для десктопов
  }

  /* Широкоугольные экраны */
  @media (min-width: var.$breakpoint-large) {
    max-width: var.$max-width;
    margin: 0 auto;
  }
}
