// colors
:root {
  --white-bg: #fafafa;
  --primary-blue: #2852a7;
  --accent-red: #c21020;
  --gray: #9a9a9a;
}

// sizes and positioning
:root {
  --max-width: 1620px;
}

/* for responsive */

/* positioning */
$padding-mobile-small: clamp(
  5px,
  3vw,
  50px
); // Мобильные устройства с маленьким экраном
$padding-mobile: clamp(10px, 5vw, 50px); // Мобильные устройства
$padding-tablet: clamp(25px, 8vw, 75px); // Планшеты
$padding-desktop: clamp(50px, 10vw, 150px); // Десктопы

/* width container */
$max-width: 1920px;

/* breakpoints */
$breakpoint-mobile-small: 480px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-large: 1920px;

/*Font size*/
// :root {
//   --headline-font-size: 30px;
//   --menu-font-size: 18px;
//   --footer-menu-font-size: 18px;
//   --text-font-size: 14px
// }
