@use '../../../app/_css/variables' as var;
@use '../../../app/_css/responsive' as res;
@use '../../../app/_css/mixins' as mix;

.news-feed {
  width: 100svw;
  padding-top: clamp(20px, 9.3svh, 150px);
}

@media (max-width: var.$breakpoint-mobile) {
  .news-feed {
    padding-top: clamp(20px, 6.5svh, 200px);
  }
}

.news-feed__wrapper {
  @include mix.fontSetSize(1.5);
  @include res.container;
}

.news-feed__block-news {
  margin-top: clamp(25px, 3svh, 50px);
}

.upper-arrow {
  height: 30px;
  width: 30px;
  background-image: url('/icons/upper_arrow.svg');
}

.pagination {
  margin-top: clamp(25px, 5.5svh, 60px);
  @include mix.fontSetSize(1.5);
}

.news-feed__block-news {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  row-gap: clamp(50px, 2.5svw, 100px);
}

@media (min-width: calc(var.$breakpoint-tablet - 150px)) {
  .news-feed__block-news {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    column-gap: clamp(50px, 4svw, 150px);
  }
}
